*{
	margin: 0 auto;
	padding: 0;

}
a{
	text-decoration: none;
	color: #000;
}
.nav{
	position: relative;
	width: 640/64rem;
	height: 72/64rem;
	background-color: #E6E6E6;
	overflow: hidden;
}
ul li {
    list-style: none;
    margin: 0;
}
.nav-ul {
    width: 554/64rem;
    height: 72/64rem;
    margin: 0;
    float: left;
    // margin-top: 12/64rem;
    padding: 0; 
    color: #000;

}
.nav-li {
    width: 110.8/64rem;
    height: 72/64rem;
    line-height: 70/64rem;
    float: left;
    font-family: '微软雅黑', '冬青黑';
    font-size: 30/64rem;
    text-align: right;
    cursor: pointer;
}
.nav-line {
    position: absolute;
    top: 66/64rem;
    height: 6/64rem;
    width: 66/64rem;
    display: block;
   
    margin-left: 46/64rem;
    background-color: #BE0201;
    transition: all 0.5s;
    display: none;
}
#index-bar{
	display: block;
}
.nav .nav-a:hover ~.nav-line {
    display: block; 
}

.nav-change{
	position: relative;
	width: 84/64rem;
	height: 72/64rem;
	background-color: #E6E6E6;
	float: right;
    font-family: '微软雅黑', '冬青黑';
    font-size: 30/64rem;
    color: #ACAEAD;
	border-left:1/64rem solid #C1C2C2;

}


.nav-change a{
	width: 86/64rem;
	color: #fff;
	position: absolute;
	text-align: center;
	color: #ACAEAD;
	line-height:  72/64rem;

	
}

.nav-change .close{
	display: none;
}
.containter{
	width: 640/64rem;
	height: 370/64rem;
	/* float: left; */
}
.photos{
	width: 10rem;
	height: 318/64rem;
	/* float: left; */
	
	position: relative;
	overflow: hidden;
}
.gallery img {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.little-topic{
	width: 10rem;
	height: 52/64rem;
	background-color: #E5E3E1;
	/* float: left; */
}
.log{
	width: 58/64rem;
	height: 28/64rem;
	line-height: 28/64rem;
	margin-left: 24/64rem;
	margin-top: 12/64rem;
	background-color: #4C86C6;
	font-family: '微软雅黑', '冬青黑';
	font-size: 22/64rem;
	color: #fff;
	text-align: center;
	float: left;
}
.topic-title{
	width: 304/64rem;
	height: 24/64rem;
	line-height:25/64rem; 
	margin-left: 24/64rem;
	margin-top: 14/64rem;
	float: left;
	font-family: '微软雅黑', '冬青黑';
	font-size: 25/64rem;
	color: #000;
}
.dot{
	width: 62/64rem;
	height: 14/64rem;
	margin-left: 162/64rem;
	margin-top: 20/64rem;
	float: left;
	overflow: hidden;

}
.dot-ul{
	width: 62/64rem;
	height: 14/64rem;
	margin: 0;
	padding: 0;
}
.containter .none {
        z-index: -1;
        display: none;
        width: 10rem;
        height: 318/64rem;
    }
.dot-li{
	width: 12/64rem;
	height: 12/64rem;
	border-radius: 50%;
	margin-right: 8/64rem;
	float: left;
	background-color: #9C9C9D;
}
#index-dot{
	background-color:#515151; 
}
.show {
        z-index: 1;
    }
#last-dot{
	margin-right: 0;
}
.showright {
    z-index: 2;
    width: 10rem;
    height: 318/64rem;
    animation: 0.5s showright;
}

.showleft {
    z-index: 2;
    width: 10rem;
    height: 318/64rem;
    animation: 0.5s showleft;
}

.show {
    z-index: 1;
    display: none;
}

@keyframes showright {
    from {
        left: 640/64rem;
    }
    to {
        left: 0;
    }
}

@keyframes showleft {
    from {
        left: -640/64rem;
    }
    to {
        left: 0;
    }
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.clearfix {
    zoom: 1;
    
    /* for IE6 IE7 */
}
.main{
	width: 592/64rem;
	height: 530/64rem;

}
.topics{
	width: 592/64rem;
	height: 108/64rem;
	margin-top: 20/64rem;
	
}
.line{
	width: 592/64rem;
	height: 2/64rem;
	border: 0;
	background-color: #E6E6E6;
	margin-top: 14/64rem; 
}
.pictures{
	width: 140/64rem;
	height: 104/64rem;
	float: left;
}
.containters{
	width: 436/64rem;
	height: 106/64rem;
	float: right;
	margin-top: 2/64rem;
	border: 0;
	background-color: #fff;
}
.title{
	font-size: 30/64rem;
	font-family: '微软雅黑', '冬青黑';
}
.description{
	font-size: 23/64rem;
	font-family: '微软雅黑', '冬青黑';
	margin-top: 2/64rem;
	color: #A5A5A5;
	float: left;
}
.count{
	width: 162/64rem;
	height: 28/64rem;
	float: right;
	margin-top: 4/64rem;
}
.post{
	font-size: 23/64rem;
	font-family: '微软雅黑', '冬青黑';
	color: #A5A5A5;
	float: left;
	line-height: 26/64rem;
	margin-top: 0;
}
.type{
	width: 54/64rem;
	height: 28/64rem;
	font-size: 10/64rem;
	text-align: center;
	line-height:28/64rem; 
	font-family: '微软雅黑', '冬青黑';
	color: #fff;
	background-color: #4C86C6;
	float: right;
}
#index-type{
	background-color: #BE0201;
}
#sd{
	margin-top: 0;
	width: 100%;
}
#sd1,#sd2{
	width: 100%;
	height:70/64rem;
	background: #e9f4f7;
	display: none;
}
#sd1{
	height: 20/64rem;
}
#sd p{
	margin: 20/64rem auto;
	padding-top:8/64rem;
	text-align:center;
	font-size: 14/64rem;
	color: #37bbf5;
}